{% extends "main.html" %}

{% block content %}
{% load static%}
<style>
</style>
<a href= "/"><img src="{% static '/Image/Logouticon.jfif' %}" style="width:40px;height:40px; margin-left: 100%"></a><br>
  <a href="javascript:history.go(-1)"><img src="{% static '/Image/Backicon.png' %}" style="width:40px;height:40px;margin-top: -70px"></a><br>
<img src ="{% static '/Image/student.jpeg' %}" style="width:150px; margin-left: 1200px; margin-top:10px;"><br>
<h1 style="font-family: serif; margin-top: -20px">ADD STUDENT</h1><br>
<form action = "/Faculty/AddStudent/Details/Register/NewStudent/" enctype='multipart/form-data' method = 'POST'>
	<center>

<table style="margin-top:-100px; border:2px; width:90%;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)"><br><br>
{% csrf_token %}
<br>
  {{form}}
  <br>

</table><br>
<input type="submit" value="Submit" class="btn btn-dark">


</center>
<form>
<br>
{% endblock %}