{% extends "main.html" %}

{% block content %}
{% load static %}
<br>
<a href= "/"><img src="{% static '/Image/Logouticon.jfif' %}" style="width:40px;height:40px; margin-left: 100%"></a><br>
  <a href="javascript:history.go(-1)"><img src="{% static '/Image/Backicon.png' %}" style="width:40px;height:40px;margin-top: -70px"></a><br>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .dropdown-menu{
      background-color:white;
    }
  </style>
</head>
<body>
  &nbsp;&nbsp;
 <nav style="background-color:#fc8cb7;" >

{% for i in Attendance %}
<div class="btn-group">
  <button class="btn btn-link btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 20px; color:white;font-size: 17px; font-family: : cursive;" >
    <b style="font-family: cursive;">{{i}}</b>
  </button>
  <div class="dropdown-menu">
    {% for j in Marks %}
    <a class="dropdown-item" href="/Student/Marks/Examination/{{Roll_Number}}/{{Group}}/{{i}}/{{j}}/">{{j}}</a>
    {% endfor %}
  </div>
</div>
{% endfor %}
</nav>
<br><br>
<b style="margin-left: 450px; margin-bottom:100px;">{{text}}<b>
</body>
{% endblock %}